/*css navbar*/
ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(45, 45, 45);
  }

  .active {
    background-color: rgb(170, 0, 136)
  }
  .active:hover {
      background-color: rgb(115, 0, 102);
  }

/*css for register.php*/
.rgusername
{
    position: fixed;
    left: 43%;
    padding: 0.5%;
}

.rgpassword
{
    position: fixed;
    left: 43%;
    padding: 0.5%;
}

.confirmpass
{
    position: fixed;
    left: 43%;
    padding: 0.5%;
}

.registerbtn
{
    position: fixed;
    left: 43%;
    padding: 0.5%;
}

.resetbtn
{
    position: fixed;
    left: 50%;
    padding: 0.5%;
}

.loginredirect
{
    position: fixed;
    left: 43%;
    padding: 0.5%;
}

.wrapper
{
    text-align: center;
    position: fixed;
    left: 43%;
}

/*css for login.php*/
.loginusername
{
    position: fixed;
}

.loginpass
{
    position: fixed;
}

.loginbtn
{
    position: fixed;
}

.registerredirect
{
    position: fixed;
}